{% extends "base.html" %}
    
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
          {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-warning" role="alert">
        {% for message in messages %}
            {{ message }}<br>
        {% endfor %}
    </div>
    {% endif %}
{% endwith %}






<table class="table">
    <thead>
      <tr class="table-secondary">
        <th scope="col">id</th>
        <th scope="col">Header</th>
        <th scope="col">Text</th>
        <th scope="col">Author</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td><a href = {{url_for('message.message')}}>отключат воду</a></td>
        <td>25 числа сего месяца, с дворником ничего не случится, но отключат воду</td>
        <td>тест</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>заголовок объявления</td>
        <td>текст объявления</td>
        <td>автор объявления</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>заголовок объявления1</td>
        <td>текст объявления1</td>
        <td>автор объявления1</td>
        
      </tr>
    </tbody>
  </table>       
  </div>
  </div>
  {% endblock %}