{% extends "base.html" %}
    
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
          {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-warning" role="alert">
        {% for message in messages %}
            {{ message }}<br>
        {% endfor %}
    </div>
    {% endif %}
{% endwith %}






<table class="table">
    <thead>
      <tr class="table-secondary">
        <th scope="col">notice_id</th>
        <th scope="col">notice_header</th>
        <th scope="col">notice_date</th>
        <comment></comment><th scope="col">Author</th></comment>
      </tr>
    </thead>
    {% for item in notices %}
    <TR>
       
     
       <TD class="c2"><SPAN>{{item.notice_id}}</SPAN> </TD>
       <TD class="c3"><SPAN><a href="{{url_for('message.single_notice', notice_id=item.notice_id) }}">{{item.title}}</a></SPAN> </TD>
       <TD class="c4"><SPAN>{{item.date}}</SPAN></TD>
       <TD class="c4"><SPAN>{{item.author}}</SPAN></TD>
       
    </TR>
    {% endfor %}
  </table>  
   
  <table class="table">
    <TR>
      <TD>
  <a href="{{url_for('message.notice_add', board_id=board.board_id) }}">
    <button type="button" class="btn btn-secondary">Добавить объявление на эту доску</button>
  </a>
</TD>
  </div>
  </div>
  <TD>
  <a href="{{url_for('board.board_ar', board_id=board.board_id) }}">
    <button type="button" class="btn btn-secondary">Запустить AR-vision для этой доски</button>
  </a>
</TD>
  </div>
</TR>
</table>
  </div>
  {% endblock %}